@use 'index';

.nav {
  @extend %padding-x-xs;
  @extend %padding-top-xs;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &-logo {
    width: 13em;

    &__icon {
      width: 13em;
    }

    &__underline {
      position: absolute;
      bottom: -0.55em;
      left: 0;
      width: 11em;
    }
  }

  &::after {
    content: '';
    position: absolute;
    border-bottom: solid 1em rgb(51, 51, 51);
    width: 100%;
    left: 0;
    bottom: -0.5em;
  }
}

.menu__icon {
  width: 1.8em;
}

.nav-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(51, 51, 51);
  top: 2em;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  transform: translateX(100%) scaleX(0);
  color: #fff;
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;
}

.nav-menu-visible {
  transform: translateX(0%);
  transition: transform 0.3s ease-in-out;
}



.nav-item {
  cursor: pointer;
}

.desktop {
  display: none;
}

@media (min-width: 30rem) {
  .nav-menu {
    max-width: 10em;
  }
}

@media (min-width: 50rem) {
  .nav {
    padding-left: 1em;
    padding-right: 1em;
  }

  .mobile {
    display: none;
  }

  .nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .nav-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 1em;
      font-weight: 500;
      color: rgba(51, 51, 51);
      font-size: 1.1em;
    }
  }
}

@media (max-height: 25rem) {
  .nav-menu-visible {
    justify-content: start;
    padding-top: 1em;
    padding-bottom: 4em;
  }
}