<div class="overlay-pattern">
  <img src="assets/media/images/png/marble_pattern.png" />
</div>
<div class="home-main__upper">
  <div class="home-main-body">
    <p class="title-l">Innovative Lösungen im Trockenbau​</p>
    <p class="title-m">DuCem steht für Innovative Lösungen im Trockenbau​</p>
  </div>
  <div class="home-main-img">
    <img src="assets/media/images/jpg/home_main.jpg" />
  </div>
</div>
<div class="home-main__bottom">
  <div class="home-main__bottom-top"></div>
  <div
    class="home-main__bottom-bottom"
    [inlineSVG]="'/assets/media/images/svg/bottom_curved.svg'"
  ></div>
  <div class="supporters">
    <img
      src="assets/media/images/svg/tubaf.svg"
      class="support-badge support-jpeg"
    />
    <img
      src="assets/media/images/svg/german-ministry-science.svg"
      class="support-badge"
    /><img src="assets/media/images/svg/esf.svg" class="support-badge" /><img
      src="assets/media/images/svg/zzg.svg"
      class="support-badge"
    />
    <img src="assets/media/images/svg/eu.svg" class="support-badge" />
    <img
      src="assets/media/images/svg/saxeed.svg"
      class="support-badge support-saxeed"
    /><img src="assets/media/images/svg/exist.svg" class="support-badge" />
    <img
      src="assets/media/images/png/institut-fur-keramik.png"
      class="support-badge support-png"
    />
  </div>
</div>
