<div class="overlay__pattern">
  <img src="assets/media/images/png/marble_pattern.png" />
</div>
<div class="home__upper">
  <div class="screen__xl__confinment">
    <div class="home__body">
      <p class="title-l">Innovative Lösungen im Trockenbau</p>
      <p class="title-m">DuCem steht für Innovative Lösungen im Trockenbau</p>
      <div class="home__img">
        <img src="assets/media/images/png/properties_featured.png" />
      </div>
    </div>
  </div>
</div>
<div class="team">
  <div class="team__body">
    <div class="screen__xl__confinment">
      <div class="team__title">Team</div>
      <div class="team__body__img">
        <img src="assets/media/images/jpg/adrian_featured.jpg" />
      </div>
      <div class="team__body__img">
        <img src="assets/media/images/png/benjamin_featured.png" />
      </div>
      <div class="team__body__img">
        <img src="assets/media/images/png/serkan_featured.png" />
      </div>
    </div>
  </div>
</div>

<div class="brochure">
  <div class="brochure__body">
    <div class="screen__xl__confinment">
      <p class="title-l">Mit revolutionärem Oberflächenschutz stärken wir die Zukunft. Wir verbinden Innovation mit
        Materialwissenschaft und setzen uns für eine Welt ein, in der Strukturen harmonisch neben unserer Umwelt
        bestehen.</p>
      <div class="brochure__body__img">
        <img src="assets/media/images/png/brochure.png" />
      </div>
    </div>
  </div>
</div>

<div class="home__bottom">
  <div class="home__bottom-top"></div>
  <div class="home__bottom-bottom" [inlineSVG]="'/assets/media/images/svg/bottom_curved.svg'"></div>
  <div class="supporters">
    <img src="assets/media/images/svg/tubaf.svg" class="support__badge support-jpeg" />
    <img src="assets/media/images/svg/german-ministry-science.svg" class="support__badge" /><img
      src="assets/media/images/svg/esf.svg" class="support__badge" /><img src="assets/media/images/svg/zzg.svg"
      class="support__badge" />
    <img src="assets/media/images/svg/eu.svg" class="support__badge" />
    <img src="assets/media/images/svg/saxeed.svg" class="support__badge support-saxeed" /><img
      src="assets/media/images/svg/exist.svg" class="support__badge" />
    <img src="assets/media/images/png/institut-fur-keramik.png" class="support__badge support-png" />
  </div>
</div>