<div class="footer-wrp">
  <div class="footer-links">
    <div class="footer-col">
      <div class="footer-link">Unternehmen</div>
      <div class="footer-link">Datenschutzerklärung</div>
      <div class="footer-link">Impressum</div>
    </div>
    <div class="footer-col">
      <div class="footer-link">Kontakt</div>
      <div class="footer-link">Adresse</div>
      <a class="footer-link" href="mailto:info@ducem.de">
    info@ducem.de
      </a>
    </div>
  </div>
</div>
<div class="nav">
  <div class="nav-logo">
    <div
      class="nav-logo__icon"
      [inlineSVG]="'/assets/media/images/svg/ducem.svg'"
    ></div>
    <div
      class="nav-logo__underline"
      [inlineSVG]="'/assets/media/images/svg/ducem_logo_bottom.svg'"
    ></div>
  </div>
</div>
